<div class="card">
    <h5 class="card-header">Register a new user</h5>
    <div class="card-body">
        <form #myform="ngForm" (ngSubmit)="register(myform)" class="form form-register">

            <div class="form-group">
                <label class="user" for="register-firstName"><span class="hidden">First Name</span></label>
                <input name="firstName" id="register-firstName" type="text" class="form-control" placeholder="First Name"
                    ngModel required>
            </div>
            <div class="form-group">
                <label class="user" for="register-lastName"><span class="hidden">Last Name</span></label>
                <input name="lastName" id="register-lastName" type="text" class="form-control" placeholder="Last Name"
                    ngModel required>
            </div>
            <div class="form-group">
                <label class="user" for="register-birthDate"><span class="hidden">Birth Date</span></label>
                <input name="birthDate" id="register-birthDate" type="text" class="form-control" placeholder="Birth Date"
                    ngModel required>
            </div>
            <div class="form-group">
                <label class="user" for="register-idCode"><span class="hidden">Id Code</span></label>
                <input name="idCode" id="register-idCode" type="text" class="form-control" placeholder="Id Code" ngModel
                    required>
            </div>
            <div class="form-group">
                <label class="user" for="register-email"><span class="hidden">Email</span></label>
                <input name="email" id="register-email" type="email" class="form-control" placeholder="Email" ngModel
                    required>
            </div>

            <div class="form-group">
                <label class="lock" for="register-password"><span class="hidden">Password</span></label>
                <input name="password" id="register-password" type="password" class="form-control" placeholder="Password"
                    ngModel required>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-add-car">Register</button>
            </div>
        </form>
    </div>
</div>